<!DOCTYPE html>
<meta charset="utf-8">
<title>Voxel2</title>

<style>
	body { margin: 0; }
	#mainCanvas { width: 100vw; height: 100vh; display: block; }
</style>

<!-- page content -->
<canvas id="mainCanvas"></canvas>

<!-- libs -->
<script src="//unpkg.com/lodash@4.17.4/lodash.js"></script>
<script src="//unpkg.com/twgl.js@3.8.0/dist/3.x/twgl-full.js"></script>

<!-- webpack bundle script tag gets inserted here -->
